{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% include 'partials/_alert.html' %}

<div class="container py-4">
<div class="row">
<div class="col-lg-9 col-12">
    {% for item in cart %}
    {% include 'cart/partials/cart_item.html' %}
    {% endfor %}
</div>

<div class="col-lg-3 col-12 mt-3">
    <div class="p-4 bg-light rounded text-body">
    <h2 class="text-uppercase h5 mb-4">Summary</h2>

    <div class="d-flex justify-content-between mb-4">
        <span class="font-weight-bold">Total</span>
        <span
        hx-get="{% url 'cart:hx_cart_total' %}"
        hx-trigger="update-menu-cart from:body"
        hx-swap="innerHTML"
        >
        {% include 'cart/partials/cart_total.html' %}
        </span>
    </div>

    <a href="{% url 'cart:checkout' %}" class="btn btn-warning btn-block">
        Checkout
    </a>
    </div>
</div>
</div>
</div>

{% endblock %}