<section id="services" class="py-4 lg-secondary text-white">
<div class="container">
<div class="row text-center">
    <div class="col-md-4">
    <i class="fas fa-solid fa-user fa-2x"></i>
    <hr />
    <h5>About Us</h5>
    </div>
    <div class="col-md-4">
    <i class="fas fa-solid fa-shopping-bag fa-2x"></i>
    <hr />
    <h5>Shopping</h5>
    </div>
    <div class="col-md-4">
    <i class="fas fa-solid fa-comment fa-2x"></i>
    <hr />
    <h5>Customer Service</h5>
    </div>
</div>
</div>
</section>

<!-- Footer -->
<footer id="main-footer" class="py-2 h-auto bg-warning text-dark text-center">
    Copyright &copy;
    <span class="year"></span> C R A N e m o n
</footer>