<nav class="navbar navbar-light pastel-navbar">
  <div class="container">
   
    <a class="nav-link" href="{% url 'pages:categories' %}">Shop</a>
    
   {% comment %} <a href="{% url 'cart:cart_summary' %}" class="btn btn-outline-dark">
    <i class="bi-cart-fill me-1"></i>
    Cart
   <span class="badge bg-dark text-white ms-1 rounded-pill" 
   id="cart_quantity">{{ cart|length }} 
   </span></a> {% endcomment %}
<div
      hx-get="{% url 'cart:hx_menu_cart' %}"
      hx-trigger="update-menu-cart from:body"
      hx-swap="innerHTML"
>    
  {% include 'cart/menu_cart.html' %}
</div>  




  </div>
</nav>
