{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
    <a class="navbar-brand" href={% url "pages:index" %}>
        <img src={% static "img/pig_logo.png" %} class="logo" alt="" />
    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
        <li if {% if "/" == request.path %}
                class="nav-item active mr-3"
            {% else %}
                li class="nav-item mr-3"
            {% endif %}
        >
            <a class="nav-link" href={% url "pages:index" %}>Home</a>
        </li>
        <li if {% if "about" in request.path %}
                class="nav-item active mr-3"
            {% else %}
                li class="nav-item mr-3"
            {% endif %}
        >
            <a class="nav-link" href={% url "pages:about" %}>About</a>
        </li>
        <li if {% if "listings" in request.path %}
                li class="nav-item active mr-3"
            {% else %}
                li class="nav-item mr-3"
            {% endif %}
        >
            <a class="nav-link" href="#"
            >Inpatient medical services</a
            >
        </li>
        </ul>

        <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3">
            {% comment %} fix {% endcomment %}
            <a class="nav-link" href="register.html">
            <i class="fas fa-user-plus"></i> Register</a
            >
        </li>
        <li class="nav-item mr-3">
            {% comment %} fix {% endcomment %}
            <a class="nav-link" href="login.html">
            <i class="fas fa-sign-in-alt"></i>

            Login</a
            >
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#searchModal">
                <i class="fas fa-search"></i> Search
            </a>
        </li>
        </ul>
    </div>
    </div>
</nav>

<!-- Search Modal -->
<div class="modal fade" id="searchModal" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
        <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form>
            <div class="form-group">
            <label for="property_name" class="col-form-label"
                >Property:</label
            >
            <input
                type="text"
                name="listing"
                class="form-control"
                value="45 Prince Street"
                disabled
            />
            </div>
            <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" name="name" class="form-control" required />
            </div>
            <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input
                type="email"
                name="email"
                class="form-control"
                required
            />
            </div>
            <div class="form-group">
            <label for="phone" class="col-form-label">Phone:</label>
            <input type="text" name="phone" class="form-control" />
            </div>
            <div class="form-group">
            <label for="message" class="col-form-label">Message:</label>
            <textarea name="message" class="form-control"></textarea>
            </div>
            <hr />
            <input
            type="submit"
            value="Send"
            class="btn btn-block btn-secondary"
            />
        </form>
        </div>
    </div>
    </div>
</div>