{% extends "base.html" %}
<!-- load humanize --> 
{% load humanize %} 
{% block content %}
{% load static %}
{% include "partials/_alert.html" %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href={% url "pages:home" %}> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
    </div>
</section>

        <section id="showcase">
        <div class="container-fluid py-0">
            <div class="row">
                <!-- Left Column - wishlist -->
                <div class="col-md-12 col-lg-12 mb-4">
                    <div class="card wishlist-card">
                        {% if wishlist %}
                        <div class="Wishlist-heading text-center" style="background-color: #ffc107;">
                            <div class="heading-content">
                                <i class="fa-solid fa-tags fa-2xl" style="color: #ffc107;"></i>
                                <h2 class="heading-text text-body">Your Wishlist</h2>
                            </div>
                        </div>
                        <div class="card-content" style="background-color: rgba(243, 211, 151, 0.5)">
                            <div class="row py-2 text-dark m-2">
                                <div class="col-6">
                                    <i class="fa-solid fa-heart fa-xl" style="color: #ffc107;"></i> Product 
                                </div>
                                <div class="col-5">
                                    <i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffc107;"></i> Unit price
                                </div>
                            </div>

                            {% for item in wishlist %}
                            <div class="row py-2 text-dark m-2">
                                <div class="col-6">
                                    <i class="fa-solid fa-check fa-sm" style="color: #ffc107;"></i> {{item.product}}
                                </div>
                                <div class="col-4">
                                    <i class="fa-solid fa-check fa-sm" style="color: #ffc107;"></i> {{item.product.price}}
                                </div> 
                                <div class="col-2">
                                        {% if item.product.is_active %}
                                        <button
                                        href="#"
                                        class="btn btn-primary"
                                        hx-get="{% url 'cart:add_to_cart' item.product_id %}"
                                        hx-target="#menu-cart-button"
                                        hx-swap="outerHTML"
                                        data-toggle="modal" data-target="#confirmModal"                                         
                                        >
                                        Add to Cart
                                        </button>
                                        <button class="btn btn-danger" 
                                                onclick="location.href='{% url 'products:delete_wishlist' item.id %}'">
                                            Delete
                                        </button>
                                        {% else %}
                                        <button
                                        href="#"
                                        class="btn btn-primary"
                                        hx-target="#menu-cart-button"
                                        hx-swap="outerHTML"
                                        disabled
                                        >
                                        Out of stock
                                        </button>
                                        {% endif %}                                                                                                     
                                </div>                                                                
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <p class="text-body">Your haven't add favourite products here, go add some.</p>
                        {% endif %}                                          
                    </div>
                </div>
            </div>
            
            <!-- History Section -->
            <div class="row">
                <div class="col-md-12 col-lg-12 mb-4">
                    <div class="card history-card">
                        {% if orders %}
                        <div class="History-heading  text-center" style="background-color: #ffc107;">
                            <div class="heading-content">
                                <i class="fa-solid fa-tags fa-2xl" style="color: #ffc107;"></i>
                                <h2 class="heading-text text-body">Your History</h2>
                            </div>
                        </div>

                        <div class="card-content" style="background-color: rgba(243, 211, 151, 0.5)">
                            
                            <div class="row py-2 text-secondary m-2">
                                <div class="col-2">
                                    <i class="fa-solid fa-heart fa-xl" style="color: #ffc107;"></i>Order Date 
                                </div>
                                <div class="col-4">
                                    <i class="fa-solid fa-heart fa-xl" style="color: #ffc107;"></i>Items 
                                </div>
                                <div class="col-1">
                                    <i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffc107;"></i>QTY 
                                </div>                                
                                <div class="col-2">
                                    <i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffc107;"></i>Amount 
                                </div>
                                <div class="col-2">
                                    <i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffc107;"></i>Status 
                                </div>                                
                            </div>
                            {% for order in orders %}
                                {% for orderitem in order.orderitem_set.all %}
                                    {% if forloop.first %}
                                    <div class="row py-2 text-secondary m-2">
                                        <div class="col-2">
                                            <i class="fa-solid fa-check fa-sm" style="color: #ffc107;"></i>{{order.order_date}}                                   
                                        </div>
                                        <div class="col-4">
                                            <i class="fa-solid fa-check fa-sm" style="color: #ffc107;"></i>{{orderitem.product}}
                                        </div>
                                        <div class="col-1">
                                            <i class="fa-solid fa-check fa-sm" style="color: #ffc107;"></i>{{orderitem.quantity}} 
                                        </div>                                
                                        <div class="col-2">
                                            <i class="fa-solid fa-check fa-sm" style="color: #ffc107;"></i>HK${{order.total_amount}} 
                                        </div>
                                        <div class="col-2">
                                            <i class="fa-solid fa-check fa-sm" style="color: #ffc107;"></i>{{order.status}}
                                        </div> 
                                        <div class="col-1">
                                            {% if orderitem.product.is_active %}
                                                <button
                                                href="#"
                                                class="btn btn-success"
                                                hx-get="{% url 'accounts:reorder' order.id %}"
                                                hx-target="#menu-cart-button"
                                                hx-swap="outerHTML"
                                                data-toggle="modal" data-target="#confirmModal"                                         
                                                >
                                                Reorder
                                                </button>     
                                            {% else %}  
                                                <button
                                                href="#"
                                                class="btn btn-success"
                                                hx-target="#menu-cart-button"
                                                hx-swap="outerHTML"
                                                disabled
                                                >
                                                Out of stock
                                                </button>  
                                            {% endif %}                                                                                                        
                                        </div> 
                                    </div>
                                    {% else %}
                                    <div class="row py-2 text-secondary m-2">
                                        <div class="col-2">
                                            <i class="fa-solid fa-check fa-sm" style="color: #ffc107;"></i>                                  
                                        </div>
                                        <div class="col-4">
                                            <i class="fa-solid fa-check fa-sm" style="color: #ffc107;"></i>{{orderitem.product}}
                                        </div>
                                        <div class="col-1">
                                            <i class="fa-solid fa-check fa-sm" style="color: #ffc107;"></i>{{orderitem.quantity}} 
                                        </div>                                
                                        <div class="col-2">
                                            <i class="fa-solid fa-check fa-sm" style="color: #ffc107;"></i>
                                        </div>
                                        <div class="col-2">
                                            <i class="fa-solid fa-check fa-sm" style="color: #ffc107;"></i>
                                        </div> 
                                        <div class="col-1">                                                                                                    
                                        </div> 
                                    </div>                                    
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}  
                            {% else %}
                                <p class="text-body">Your haven't make any orders yet. Go shopping now.</p>
                            {% endif %}                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Confirm Modal-->
    <div class="modal" id="confirmModal">
    <div class="modal-dialog text-body">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title">Reorder</h5>
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">Item(s) added to cart. Thank you!</div>
            <div class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
    </div>

{% endblock %}