{% extends "base.html" %}
<!-- load humanize --> 
{% load humanize %} 
{% block content %}
{% load static %}
<section id="showcase">

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href={% url "pages:home" %}> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
        </ol>
    </nav>
    </div>
</section>

<section id="about" class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class ="text-success text-center display-3">卓越，不只於工作，更在於生活</h1>
                <br />
                <p class ="text-info text-center display-4">品味，觸手可及。
                </p>
                <br />
            </div>
        </div>
    </div>
</section>

<section id="about" class="py-10">
    <div class="container">
        <div class=" px-12 py-2 bg-500 col-12 ">
        <a href="{% url 'pages:map' %}" class="btn btn-success btn-block"><h4>我 們 實 體 精 問 店 的 位 置</h4></a>
        </div>
    </div>
</section>

<section id="about" class="py-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="mx-3 text-primary text-center p-4" style="background-color: rgba(249, 249, 249, 0.5)">
                    <strong><h2>公司簡介</h2></strong>
                    <p>
                        <h4>CRANemon 成立於2025年盛夏，我們是一群扎根於科學園的同行者。在日常工作中，我們親身經歷了在園區內難以便捷購買到高品質、有設計感的生活必需用品與禮品的困境。從一杯能喚醒靈感的咖啡，到一份送給合作夥伴的精緻禮物，這種「選擇的匱乏」激發了我們的初心。
                        我們立志打破這種現狀，在科學園這片充滿創新與智慧的土地上，創立一家高格調的精品生活店。</h4>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="py-10">
    <div class="container">
        <div class="row">
            <div class="row py-2 text-secondary">
                <div class="col-6">
                    <img src={% static 'img/IMG_8725.PNG' %} alt="" />
                </div>
                <div class="col-6">
                <div class="py-4 p-3 text-justify text-black text-centre display-6 mt-4" style="background-color: rgba(224, 246, 78, 0.5)">
                    <strong><h2>我們的使命與願景</h2></strong>
                        <h4>我們的使命，是為科學園社群——包括在這裡辛勤工作的科研人才、創業家、居住在附近的居民，乃至專程前來消閒體驗的訪客——打造一個觸手可及的優質生活驛站。
                        <br />
                        <h4>我們相信，卓越的創造力不僅存在於實驗室和代碼中，也應體現在日常生活的每一個細節裡。我們精選兼具實用功能與美學設計的用品，從辦公文具、科技配件、家居擺設、個人護理到精緻食品，致力於讓每位顧客都能在我們的店鋪中，發現驚喜，獲得滿足，提升日常生活的質感。</h4>
                    </text-justify>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>


<section id="about" class="py-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="mx-3 text-dark text-left p-4" style="background-color: rgba(40,167,69,0.5)">

                    <strong><h3>我們的價值</h3></strong>
                        <h5>精選嚴選： 我們拒絕平庸，全球搜羅具有獨特設計、優良品質和實用功能的商品。</h5>

                        <h5>社群核心： 我們深深植根於科學園社群，理解並回應這個獨特群體的需求與品味。</h5>

                        <h5>生活美學： 我們不僅是售賣商品，更是推廣一種講究、從容、充滿格調的生活方式。</h5>

                        <h5>便捷體驗： 我們提供無縫的線上瀏覽與線下選購體驗，成為科學園區內最可靠、最貼心的生活夥伴</h5>
                </div>
            </div>
        </div>
    </div>
</section>           

{% endblock %}