{% extends "base.html" %}
<!-- load humanize --> 
{% load humanize %} 
{% block content %}
{% load static %}
{% include "partials/_alert.html" %}

<!-- Products -->
<section id="Products" class="py-4">
    <div class="container">
    <h3 class="text-left mb-3">Our Products</h3>
    <div class="row">
    <!-- Product 1 -->
    {% if products %} 
    {% for product in products %} 
    
    <div class="col-md-6 col-lg-4 mb-4">
    <div class="card listing-preview">
    {% if product.product_img and product.product_img.url %}
    <img class="card-img-top" src="{{ product.product_img.url }}" alt="{{ product.name }}" />
    {% else %}
    <img class="card-img-top" src="{% static 'img/default.jpg' %}" alt="Default image" />
    {% endif %}

    <div class="card-img-overlay">
    </div>
    <div class="card-body">
    <div class="listing-heading text-center">
        <h4 class="text-primary">{{product.name}}</h4>
        <p>
        <i class="fas fa-map-marker text-secondary"></i> {{product.category | title}}                  
        </p>
    </div>
    <hr />
    <div class="row py-2 text-secondary">
        <div class="col-6">
        
        <i class="fa-sharp fa-regular fa-coins"></i> Price {{product.price}}
        </div>
        <div class="col-6">
        <i class="nf-fa-coins"></i> Description {{product.description}} 
        </div>
    </div>
    <div class="row py-2 text-secondary">
        <div class="col-6">
        <i class="fa-light fa-star-shooting"></i> Brand {{product.brand}}
        
        </div>
        <div class="col-6">
        <i class="fas fa-bath"></i> Tag {{product.tag}}
        </div>
    </div>
    <hr />
    <a href={% url "products:product" product.id %} class="btn btn-primary btn-block">
        More Info</a>
    </div>
    </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-md-12">
        <p>No Product Available</p>
    </div>
    {% endif %}
    </div>
</section>

{% endblock %}