{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="category-section">
<h2 class="section-title">✨ Explore Our Categories</h2>
<div class="category-grid">
{% for category in categories %}
    <div class="category-card">
    
    <a href="{% url 'products:products_by_category' category.id %}">


        <div class="image-frame">
        {% if category.category_img and category.category_img.url %}
            <img src="{{ category.category_img.url }}" alt="{{ category.name }}">
        {% else %}
            <img src="{% static 'photos/default.jpg' %}" alt="Default category image">
        {% endif %}
        </div>
        <h3 class="category-name">{{ category.name }}</h3>
    </a>
    </div>
{% endfor %}
</div>
</div>

{% endblock %}