{% extends 'base.html' %} 
<!-- load humanize -->
{% load humanize %}
<!-- block title %}-->
{% block title %} | Product List {% endblock title %}
{% block content %} {% load static %}
{% include 'partials/_alert.html' %}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
    <div class="row text-center">
        <div class="col-md-12">
        <h1 class="display-4">Browse Our Shop</h1>
        <p class="lead"></p>
        </div>
    </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href={% url "pages:home" %}> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active">Browse Products</li>
        </ol>
    </nav>
    </div>
</section>

<!-- Products -->
<section id="Products" class="py-4">
    <div class="container">
    <div class="row">

        <!-- Product 1 -->
        {% if products %} 
        {% for product in products %} 
        
        <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview" style="background-color: rgba(245, 221, 176, 0.7)">
{% if product.product_img and product.product_img.url %}
<img class="card-img-top" src="{{ product.product_img.url }}" alt="{{ product.name }}" />
{% else %}
<img class="card-img-top" src="{% static 'img/default.jpg' %}" alt="Default image" />
{% endif %}

            <div class="card-img-overlay">
            </div>
            <div class="card-body">
            <div class="listing-heading text-center text-dark">
    <h4 style="color: rgba(233, 112, 5, 1)">{{product.name}}</h4>


                <p>
                <i class="fas fa-map-marker text-secondary"></i> {{product.category | title}}                  
                </p>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
                <div class="col-6">
                
                <i class="fa-sharp fa-regular fa-coins"></i> Price: HK$ {{product.price}}
                </div>
                <div class="col-6">
                <i class="nf-fa-coins"></i> Description {{product.description}} 
                </div>
            </div>
            <div class="row py-2 text-secondary">
                <div class="col-6">
                <i class="fa-light fa-star-shooting"></i> Brand {{product.brand}}
                
                </div>
                <div class="col-6">
                <i class="fas fa-bath"></i> Tag {{product.tag}}
                </div>
            </div>
            <hr />
            <div class="row py-2 text-secondary">
                <div class="col-12">
                <i class="fas fa-user"></i> {{product.category.name}}
                </div>
            </div>
            <div class="row text-secondary pb-2">
                <div class="col-12">
                <i class="fas fa-clock"></i> Reservation required
                </div>
            </div>
            <hr />
            {% comment %} listing - done {%endcomment %}



            <a href={% url "products:product" product.id %} class="btn btn-warning btn-block"
                >More information</a
            >
            </div>
        </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12">
            <p>No Product Available</p>
        </div>
        {% endif %}
        
    </div>

    <div class="row">
        <div class="col-md-12">
        {% if products.has_other_pages %} 
        <!-- check if any data first, say only 3 clinic, no need paginator -->
        
<ul class="pagination">
            {% if products.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{products.previous_page_number}}">&laquo;</a> 
            <!-- page here is a variable, listings.previous_page_number is a value -->
            </li>   
            {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
            </li>
            {% endif %}
            {% for i in products.paginator.page_range %}
            {% if products.number == i %}
            <li class="page-item active">
            <a class="page-link">{{i}}</a>
            </li>
            {% else %}
            <li class="page-item">
            <a class="page-link" href="?page={{i}}">{{i}}</a> 
            <!-- first {{i}} is the page send back to backend, second {{i}} ipage here is a variable, listings.previous_page_number is a value -->
            </li>  
            {% endif %}
            {% endfor %}
            
            {% if products.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{products.next_page_number}}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#">&raquo;</a>
        </li>
        {% endif %}
        </ul>
        {% endif%} 
        </div>
    </div>
    </div>
</section>


{% endblock %}