{% extends 'base.html' %}
{% load humanize %}

{% block title %} | {{product.name}} {% endblock title %}
{% block content %} {% load static %} 


<!-- Breadcrumb -->
<section id="bc" class="mt-0">
    <div class="container">
    <nav>
        <ol class="breadcrumb">
        <li class="breadcrumb-item">
        
            <a href={% url 'pages:home' %}>Home</a>
        </li>
        <li class="breadcrumb-item">
        
            
            <a href={% url 'products:products' %}>Products</a>
        </li>
        <li class="breadcrumb-item active">{{product.name}}</li>
        </ol>
    </nav>
    </div>
</section>

<!-- Listing -->
<section id="product" class="py-0">
    {% include 'partials/_alert.html' %}  
    <div class="container">
    {% comment %} listings {% endcomment %}
    <a href={% url "products:products" %} class="btn btn-light mb-4">Back To Products</a>
    <div class="row">
        <div class="col-md-9">
        <!-- Home Main Image -->

{% if product.product_img and product.product_img.url %}
<img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="img-main img-fluid mb-3" />
{% else %}
<img src="{% static 'img/default.jpg' %}" alt="Default image" class="img-main img-fluid mb-3" />
{% endif %}

        <!-- Thumbnails -->
        <div class="row mb-5 thumbs">
            {% if product.product_img1 %}
            <div class="col-md-2">
            {% comment %} clinic-inside-1.jpg {% endcomment %}
            <a
                href={{product.product_img1.url}}
                data-lightbox="home-images"
            >
            {% comment %} clinic-inside-1.jpg {% endcomment %}  

{% if product.product_img1 and product.product_img1.url %}
<img src="{{ product.product_img1.url }}" alt="{{ product.name }}" class="img-main img-fluid mb-3" />
{% else %}
<img src="{% static 'img/default.jpg' %}" alt="Default image" class="img-main img-fluid mb-3" />
{% endif %}


            </a>
            </div>
            {% endif %}

            {% if product.product_img2 %}
            <div class="col-md-2">
            {% comment %} clinic-inside-2.jpg {% endcomment %}
            <a
                href={{product.product_img2.url}}
                data-lightbox="home-images"
            >
            {% comment %} clinic-inside-2.jpg {% endcomment %}  


{% if product.product_img2 and product.product_img2.url %}
<img src="{{ product.product_img2.url }}" alt="{{ product.name }}" class="img-main img-fluid mb-3" />
{% else %}
<img src="{% static 'img/default.jpg' %}" alt="Default image" class="img-main img-fluid mb-3" />
{% endif %}

            </a>
            </div>
            {% endif %}
        </div>
        <!-- Fields -->

    <div class="row py-0">   
        <div class="col-12">
            <h2 class="fas fa-solid fa-clone" style="color: #0d2dceff;"> {{product.brand}}</h2>
        </div>
        <br />
        <div class="col-12">
            <strong><h2 style="color: rgba(22, 26, 246, 1)">{{product.name}}</h2></strong>
        </div>
        <br />
        <div class="col-12">
            <button class="btn btn-light">
            <h1 class="fas fa-solid fa-dollar-sign" style="color: #e96d0eff;"> {{product.price}}</h1>
            </button>
        </div>
    </div>     

    <div class="row py-2 text-secondary">
        <div class="col-4 mt-2">
            <h4 class="fas fa-solid fa-receipt"style="color: #1850e8ff;"> {{product.category | title}} </h4>
        </div>
        <div class="col-4 mt-2">
            <h4 class="fas fa-solid fa-star" style="color: #1850e8ff;">{{product.tag}} </h4>
        </div>
        <div class="col-4 mt-0">
            <a href="#" class="btn" style="background-color:#74C0FC;">
                <h4 class="fas fa-heart text-danger"> Like</h4>
            </a>
        </div>
    </div>

    <div class="col-12">
        <div class="row py-0 text-center text-justify text-dark"> 
            <h5> Description : {{product.description}} </h5> 
            </text-justify>
            <br />
        </div>    </div> 
        <br />
        

<!-- Description -->

</div>
<div class="col-md-3">
<div class="card mb-3">
    
    <img
    class="card-img-top" 
    src={{product.category.category_img.url}}
    alt="Seller of the month"
    />
    <div class="card-body">
    <h5 class="card-title text-dark">Category</h5>
    <h6 class="text-primary">{{product.category}}</h6>
    <hr />

    <!-- Reviews Section -->
    <div class="row mt-5 text-dark">
        <div class="col-md-12">
            <div class="reviews-section">
                <h5 class="reviews-heading">Reviews</h5>
            </div>

        {% if request.user.is_authenticated %}
        <form method="post" action="." class="custom-box">
            {% csrf_token %}
            <div>
                <label>Rating</label><br>
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                </select>
            </div>

            <div>
                <label>Comment</label><br>
                <textarea name="content" required></textarea>
            </div>

            <div>
                <button class="btn-warning">Submit</button>
            </div>
        </form>
        {% endif %}
        <br />
        {% for review in product.reviews.all %}
        <div class="custom-card">
            <strong>Rating: </strong> {{ review.rating }}/5<br>
            <strong>Date:</strong> {{ review.created_at|date:"Y-m-d"}}<br>
            <strong>Comment:</strong><br>
            {{ review.content }}
        </div>  
        {% endfor %}
        </div>
    </div>

    </div>
</div>
<button
    class="btn-warning btn-block btn-lg"
    data-toggle="modal"
    data-target="#inquiryModal"
>
    Make An Inquiry
</button>

<button
href="#"
class="btn-warning btn-block btn-lg"
hx-get="{% url 'cart:add_to_cart' product.id %}"
hx-target="#menu-cart-button"
hx-swap="outerHTML"
>
<h5><i class="fas fa-shopping-cart"></i> Add to cart</h5>
</button>
        </div>
    </div>
    </div>
</section>

<!-- Inquiry Modal secure focus on payment submission, avoid clicking other stuff (with modal, other link all disabledm user can only work on model fields) on background force you complete the task--> 
<div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-warning">
        <h5 class="modal-title text-dark" id="inquiryModalLabel">Make An Inquiry</h5>
        <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
        </button>
        </div>
        <div class="modal-body text-dark" style="background-color: rgba(243, 211, 151, 0.5)">
            <form action="{% url 'products:inquiry' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{product.id}}" /> <!-- hide listing_id as user no need to see -->
            <input type="hidden" name="store_email" value="{{stores.email}}" /> <!-- hide listing_id as user no need to see, listing relate to doctor and doctor has email-->
            
            {% if user.is_authenticated %}
            <input type="hidden" name="user_id" value="{{user.id}}"/>
            {% else %}
            <input type="hidden" name="user_id" value="0" /> <!-- data id start from 1, so setting 0 mean it is not a database id, cannot eg 999 , set 0 no need to let user know-->
            {% endif %}
            <div class="form-group">
            <label for="store" class="col-form-label" >Shop:</label>
            <input
                type="text"
                name="product"
                class="form-control"
                value="{{product.name}}"
                readonly
            />
            </div>
            <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" name="name" class="form-control" 
            {% if user.is_authenticated %}
            value="{{user.first_name}} {{user.last_name}}" readonly
            {% endif %} />
            </div>
            <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input type="email" name="email" class="form-control" 
            {% if user.is_authenticated %}
            value="{{user.email}}" readonly
            {% endif %} />
            
        
            </div>
            <div class="form-group">
            <label for="phone" class="col-form-label">Phone:</label>
            <input type="text" name="phone" class="form-control" />
            </div>
            <div class="form-group">
            <label for="message" class="col-form-label">Message:</label>
            <textarea name="message" class="form-control"></textarea>
            </div>
            <hr />
            <input
            type="submit"
            value="Send"
            class="btn btn-block btn-warning"
            />
        </form>
        </div>
    </div>
    </div>
</div>
{% endblock %}
