{% extends 'base.html' %} {% block content %} {% load static %} 

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: rgba(245, 221, 176, 0.4)">
        <li class="breadcrumb-item">  
            <a href={% url 'pages:index' %}> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item">
            
            <a href={% url 'products:products' %}>Products</a>
        </li>
        <li class="breadcrumb-item active text-dark">Search Results</li>
        </ol>
    </nav>
    </div>
</section>

<section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
    <div class="row text-center">
        <div class="col-md-12">          
        <form action="{% url 'products:search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
            <!---district -->
            <div class="col-md-12 mb-3">
                <label class="sr-only">Category</label>
                <input
                type="text"
                name="keywords"
                class="form-control"
                placeholder="Keyword (Name, Brand, Description, etc)"
                value="{{values.keywords}}"
                />
            </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
            <div class="col-md-4 mb-3">
                <label class="sr-only">Category</label>
                <select name="category" class="form-control">
                <option {% if not values.category %} selected {% endif %} value=''> 
                    Category (All)
                </option>
                {% for category in categories %}
                <option value="{{category.name}}" {% if category.name == values.category %} selected {% endif %}>{{ category.name }}</option>
                {% endfor %}

                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label class="sr-only">Brand</label>
                <select name="brand" class="form-control">
                <option {% if not values.brand %} selected {% endif %} value=''>Brand (All)
                </option>
                {% for key, value in brand_choices.items %}
                <option value="{{key}}" {% if key == values.brand %} selected {% endif %} > {{value}}</option>
                {% endfor %}
                
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label class="sr-only">Tag</label>
                <select name="tag" class="form-control" id="type">
                <option {% if not values.tag %} selected {% endif %} value=''>
                    Tag (All)
                </option>
                {% for key,value in tag_choices.items %}
                <option value="{{key}}" {% if key == values.tag %} selected {% endif %} >{{value}}</option>
                {% endfor %}  
                
                </select>
            </div>
            </div>
            <button class="btn btn-warning btn-block mt-4" type="submit">
            Submit form
            </button>
        </form>
        </div>
    </div>
    </div>
</section>

<!-- Products -->
<section id="Products" class="py-4" style="background-color: rgba(245, 229, 198, 0.3)">
    <div class="container">
    <h3 class="text-left mb-3" style="color: rgba(233, 112, 5, 1)">Our Products</h3>
    <div class="row">
    <!-- Product 1 -->
    {% if products %} 
    {% for product in products %} 
    
    <div class="col-md-6 col-lg-4 mb-4">
    <div class="card listing-preview" style="background-color: rgba(245, 221, 176, 0.4)">
    {% if product.product_img and product.product_img.url %}
    <img class="card-img-top" src="{{ product.product_img.url }}" alt="{{ product.name }}" />
    {% else %}
    <img class="card-img-top" src="{% static 'img/default.jpg' %}" alt="Default image" />
    {% endif %}

    <div class="card-img-overlay">
    </div>
    <div class="card-body" style="background-color: rgba(245, 221, 176, 0.4)">
    <div class="row py-0 text-center">   
        <div class="col-12">
            <i class="fas fa-solid fa-clone" style="color: #0d2dceff;"> {{product.brand}}</i>
        </div>
        <br />
        <div class="col-12">
            <strong><h3 style="color: rgba(22, 26, 246, 1)">{{product.name}}</h3></strong>
        </div>
        <br />
        <div class="col-12">
            <h1 class="fas fa-solid fa-dollar-sign" style="color: #e96d0eff;"> {{product.price}}</h1>
        </div>
    </div>     

    <div class="row py-2 text-secondary">
        <div class="col-4 mt-2">
            <i class="fas fa-solid fa-receipt"style="color: #74C0FC;"></i> {{product.category | title}} 
        </div>
        <div class="col-4 mt-2">
            <i class="fas fa-solid fa-star" style="color: #74C0FC;"></i>{{product.tag}}
        </div>
        <div class="col-4 mt-0">
            {% if user.is_authenticated %}
            <a href="{% url 'products:add_to_wishlist' product.id %}" class="btn" style="background-color:#74C0FC;">
                <i class="fas fa-heart text-danger"> Like</i>
            </a>
            {% else %}
            <a href="#" class="btn" style="background-color:#74C0FC;">
                <i class="fas fa-heart text-danger"> Like</i>
            </a>
            {% endif %}
        </div>
        <div class="col-4 mt-0">
            {% if product.reviews.exists %}
            <strong>Rating: </strong> {{ product.get_rating }}/5.0
            {% endif %}
        </div>
    </div>

    <div class="col-12">
        <div class="row py-0 text-center text-justify text-dark"> 
            <h6> Description : {{product.description}} </h6>
            </text-justify>
        </div>    </div> 
        <br />

    <a href={% url "products:product" product.id %} class="btn btn-warning btn-block">More Info</a>
    </div>
    </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-md-12">
        <p>No Product Available</p>
    </div>
    {% endif %}
    </div>

    <div class="row">
        <div class="col-md-12">
        {% if products.has_other_pages %} 
        <!-- check if any data first, say only 3 clinic, no need paginator -->
        
<ul class="pagination">
            {% if products.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{products.previous_page_number}}">&laquo;</a> 
            <!-- page here is a variable, listings.previous_page_number is a value -->
            </li>   
            {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
            </li>
            {% endif %}
            {% for i in products.paginator.page_range %}
            {% if products.number == i %}
            <li class="page-item active">
            <a class="page-link">{{i}}</a>
            </li>
            {% else %}
            <li class="page-item">
            <a class="page-link" href="?page={{i}}">{{i}}</a> 
            <!-- first {{i}} is the page send back to backend, second {{i}} ipage here is a variable, listings.previous_page_number is a value -->
            </li>  
            {% endif %}
            {% endfor %}
            
            {% if products.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{products.next_page_number}}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#">&raquo;</a>
        </li>
        {% endif %}
        </ul>
        {% endif%} 
        </div>
    </div>
    </div>
</section>

{% endblock %}