{% load static %}

{% if item %} 
<div class="product mb-6 flex pr-6" id="cart-item-{{ item.product.id }}">
        {% comment %} <a href="#" class="w-1/4">
            <img style="width: 80px; height: 80px; object-fit: cover;" 
            class="hover:shadow-lg rounded-xl" src="{{ item.product.product_img.url }}">
        </a> {% endcomment %}

    <a href="{% url 'products:product' item.product.id %}" class="w-1/4">
    {% if item.product.product_img %}
    <img style="width: 80px; height: 80px; object-fit: cover;" 
            class="hover:shadow-lg rounded-xl" 
            src="{{ item.product.product_img.url }}">
    {% else %}
    <img style="width: 80px; height: 80px; object-fit: cover;" 
            class="hover:shadow-lg rounded-xl" 
            src="{% static 'img/default.jpg' %}">
    {% endif %}
    </a>

    <div class="w-3/4 pl-6">
        <div class="flex justify-between">
            <a href="{% url 'products:product' item.product.id %}" class="text-lg">{{ item.product.name }}</a>
            <br />
            <span class="mb-6 pt-1 text-body">HK$ {{ item.total_price }}</span>
        </div>

        <div class="quantity mt-6 flex items-center space-x-4">
            <button 
            class="bg-gray-100"
            hx-get="{% url 'cart:update_cart' item.product.id 'decrement' %}"
            hx-target="#cart-item-{{ item.product.id }}"
            hx-swap="outerHTML"
            >
            -
            </button>
            <span class="border border-gray-300 p-2 text-body">{{ item.quantity }}</span>
            <button
            class="bg-gray-100"
            hx-get="{% url 'cart:update_cart' item.product.id 'increment' %}"
            hx-target="#cart-item-{{ item.product.id }}"
            hx-swap="outerHTML"
            >
            +
            </button>
        </div>
    </div> 
</div> 

{% endif %}